

/*multiple backgrounds*/
body{
background-color:#d3b28c;
background-image: url("../images/bg1.png");
background-repeat:repeat;
height: 6075px;
}

#title,#title1,
#text1,#text2,#text3,#text4,#text5{
  font-family: 'Give You Glory', cursive;
  font-size: 20pt;
  line-height: 23px;
  text-indent: 20px;
}
#title{
  position:absolute;
  left: 50%;
  margin-left: -440px;
}#title1{
  position:absolute;
  left: 50%;
  margin-left: -440px;
}
#text1{
  position:relative;
  left: 50%;
  margin-left: -640px;
  top: 33px;
  height:150px;
  width:680px;
}
#text2{
  position:relative;
  top: 5px;
  left: 50%;
  margin-left: -385px;
  height:150px;
  width:430px;
}
#text3{
  position:relative;
  top: 405px;
  left: 50%;
  margin-left: 260px;
  height:150px;
  width:380px;
}
#text4{
  position:relative;
  top: 1745px;
  left: 50%;
  margin-left: -640px;
  height:150px;
  width:610px;
}
#text5{
  position:relative;
  top: 2392px;
  left: 50%;
  margin-left: 260px;
  height:150px;
  width:380px;
}
/*wrapper STARTS*/
#wrapper{

  width:800px;
  margin: 0 auto;
  /*if you don't set a width than
  this doesn't do anything-you
  have to know the width of the
  object you are putting
  in the middle of the page
  and split the difference*/
  height: 6075px;
  position: relative;
}
#d1{
  background-image: url(../images/drop.png);
  background-repeat: no-repeat;
  position:absolute;
  top: 343px;
  left: 50%;
  margin-left: 480px;
  height:350px;
  width:310px;
}
#d2{
  background-image: url(../images/d2.png);
  background-repeat: no-repeat;
  position:absolute;
  top: 223px;
  left: 50%;
  margin-left: -250px;
  height:100px;
  width:310px;
}
#d3{
  background-image: url(../images/d3.png);
  background-repeat: no-repeat;
  position:absolute;
  top: 1482px;
  left: 50%;
  margin-left: -250px;
  height:250px;
  width:310px;
}
#d4{
  background-image: url(../images/d4.png);
  background-repeat: no-repeat;
  position:absolute;
  top: 3060px;
  left: 50%;
  margin-left: 350px;
  height:850px;
  width:710px;
}
#god{
  background-image:url(../images/god.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 300px;
  left: 50%;
  margin-left: -114px;
  position: relative;
  z-index: 10;
}
#feathers{
  background-image:url(../images/feathers.png);
  background-repeat: no-repeat;
  width: 224px;
  height: 150px;
  position: absolute;
  top: 941px;
  left: 50%;
  margin-left: 125px;
  z-index: 19;
}
#s1{
  background-image:url(../images/s1.png);
  background-repeat: no-repeat;
  width: 27%;
  height: 300px;
  position: absolute;
  top: 401px;
  left: 50%;
  margin-left: 65px;
  z-index: 20;
}
#c1{
  background-image:url(../images/c1.png);
  background-repeat: no-repeat;
  width: 521px;
  height: 300px;
  position: relative;
  top:8px;
  left: 50%;
  margin-left: -175px;
  z-index: 10;
}
#c2{
  background-image:url(../images/c2.png);
  background-repeat: no-repeat;
  width:400px;
  height: 300px;
  position: absolute;
  top:208px;
  left: 50%;
  margin-left: -200px;
  z-index: 1;
}
#army{
  background-image:url(../images/army.png);
  background-repeat: no-repeat;
  width:500px;
  height: 280px;
  position: absolute;
  top:948px;
  left: 50%;
  margin-left: -280px;
  z-index: 2;
}
#c3{
  background-image:url(../images/c3.png);
  background-repeat: no-repeat;
  width:700px;
  height: 300px;
  position: absolute;
  top:1080px;
  left: 50%;
  margin-left: -355px;
  z-index: 3;
}
#c4{
  background-image:url(../images/c4.png);
  background-repeat: no-repeat;
  width:300px;
  height: 174px;
  position: absolute;
  top:1060px;
  left: 50%;
  margin-left: -400px;
  z-index: 1;
}
#layers{
  background-image:url(../images/layers.png);
  background-repeat: no-repeat;
  width:800px;
  height: 1379px;
  position: absolute;
  top:1907px;
  left: 50%;
  margin-left: -400px;
  z-index: 1;
}
#ae{
  background-image:url(../images/ae.png);
  background-repeat: no-repeat;
  width:779px;
  height: 902px;
  position: absolute;
  top:3200px;
  left: 50%;
  margin-left: -400px;
  z-index: 1;
}
